<!--<div class="bg-white p-6 rounded-lg w-96">-->
<!--  <h2 class="text-xl font-bold mb-4">Создать <span data-modal-target="type"></span></h2>-->

  <%#= form_with model: Post.new, data: { turbo_frame: 'posts' }, class: "space-y-4" do |f| %>

  <%# end %>
<!--</div>-->